<div *transloco="let trans">
  <div class="flex flex-col space-y-2">
    <!-- <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar> -->
    <h2 class="text-lg font-bold">{{ customer.name }}</h2>
    <div class="flex flex-row items-center space-x-2">
      <i nz-icon nzType="whats-app" nzTheme="outline"></i>
      <a [href]="'https://wa.me/' + customer.phone">{{ customer.phone }}</a>
    </div>

    <div *ngIf="customer.email" class="flex flex-row items-center space-x-2">
      <i nz-icon nzType="inbox" nzTheme="outline"></i>
      <a [href]="'mailto:' + customer.email">{{ customer.email }}</a>
    </div>

    <div *ngIf="customer.email" class="flex flex-row items-center space-x-2">
      <i nz-icon nzType="file-text" nzTheme="outline"></i>
      <span>{{ customer.remarks }}</span>
    </div>

    <button nz-button nzType="link" (click)="openEditCustomerModal()">
      {{ trans('edit') }}
    </button>
  </div>
</div>
