<ng-container *transloco="let trans">
  <form nz-form *ngIf="formGroup$ | async as formGroup" [formGroup]="formGroup">
    <div class="divide-y sm:divide-y-0">
      <ng-container formArrayName="packages">
        <ng-container
          *ngFor="let row of (formGroup | toFormArray : 'packages').controls; let i = index"
          [formGroupName]="i"
        >
          <div
            class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-7 gap-x-4"
            [ngClass]="{
              'pt-4 sm:pt-0': i !== 0
            }"
          >
            <nz-form-item class="col-span-2 md:col-span-2">
              <nz-form-control>
                <nz-form-label
                  nzNoColon="true"
                  nzRequired
                  [ngClass]="{
                    block: i === 0,
                    'block sm:hidden': i !== 0
                  }"
                  >{{ trans('package') }}</nz-form-label
                >
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  formControlName="package_id"
                  [nzPlaceHolder]="trans('package')"
                  (ngModelChange)="packageIdChange(i, $event)"
                >
                  <ng-container *ngIf="packages$ | async as packages">
                    <nz-option
                      *ngFor="let package of packages"
                      [nzValue]="package.id"
                      [nzLabel]="package.name"
                    ></nz-option>
                  </ng-container>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <nz-form-label
                  nzNoColon="true"
                  nzRequired
                  [ngClass]="{
                    block: i === 0,
                    'block sm:hidden': i !== 0
                  }"
                  >{{ trans('price') }}</nz-form-label
                >
                <input
                  type="number"
                  nz-input
                  formControlName="price"
                  [placeholder]="trans('price')"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <nz-form-label
                  nzNoColon="true"
                  nzRequired
                  [ngClass]="{
                    block: i === 0,
                    'block sm:hidden': i !== 0
                  }"
                  >{{ trans('count') }}</nz-form-label
                >
                <input
                  type="number"
                  nz-input
                  formControlName="count"
                  [placeholder]="trans('count')"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <nz-form-label
                  nzNoColon="true"
                  [ngClass]="{
                    block: i === 0,
                    'block sm:hidden': i !== 0
                  }"
                  >{{ trans('amount-paid') }}</nz-form-label
                >
                <input
                  type="number"
                  nz-input
                  formControlName="amount_paid"
                  [placeholder]="trans('amount-paid')"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-2 md:col-span-2 lg:col-span-2">
              <nz-form-control>
                <nz-form-label
                  nzNoColon="true"
                  [ngClass]="{
                    block: i === 0,
                    'block sm:hidden': i !== 0
                  }"
                  >{{ trans('remarks') }}</nz-form-label
                >
                <div class="flex space-x-2">
                  <textarea
                    type="text"
                    nz-input
                    formControlName="remarks"
                    [placeholder]="trans('remarks')"
                    rows="2"
                  ></textarea>

                  <button
                    *ngIf="i !== 0"
                    nz-button
                    nz-tooltip
                    nzDanger
                    nzType="primary"
                    nzShape="circle"
                    type="button"
                    [nzTooltipTitle]="trans('delete')"
                    (click)="deleteRow(1)"
                  >
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </button>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <button nz-button nzType="dashed" class="w-full" (click)="addRow()">
      <span nz-icon nzType="plus"></span>
      {{ trans('add-another') }}
    </button>
  </form>

  <div *nzModalFooter class="flex justify-end">
    <button nz-button [nzType]="'primary'" [nzLoading]="loading$ | async" (click)="submit()">
      {{ trans('add') }}
    </button>
  </div>
</ng-container>
