<app-ui-grid
  #grid
  [dataSource]="dataSource$ | async"
  [columnDefs]="columnDefs$ | async"
></app-ui-grid>

<ng-template #actionsCell let-row>
  <ng-container *transloco="let trans">
    <div *ngIf="row" class="space-x-2">
      <a
        nz-button
        nz-tooltip
        nzType="primary"
        nzShape="circle"
        [nzTooltipTitle]="trans('edit')"
        [routerLink]="['/admin/user-groups/' + row.id + '/edit']"
      >
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </a>

      <ng-container *ngIf="!row.is_admin">
        <button
          *hasPermissions="['usergroups.delete']"
          nz-button
          nz-tooltip
          nzDanger
          nzType="primary"
          nzShape="circle"
          [nzTooltipTitle]="trans('delete')"
          (click)="deleteUserGroup(row.id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #statusCell let-row>
  <ng-container *transloco="let trans">
    <ng-container *ngIf="row">
      <ng-container [ngSwitch]="row.status">
        <nz-tag *ngSwitchCase="'active'" nzColor="success">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'unverified'" nzColor="warning">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'inactive'" nzColor="warning">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'locked'" nzColor="error">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
