<div #select class="form-control-select bottom" 
  [ngClass]="{ 'focus': isFocused }">
  <div #origin class="selection" tabIndex="0" 
    (focus)="onFocus($event)" 
    (click)="open(dropdown, origin)">
    <div class="wrapper">
      <ul>
        <li class="choice"><span class="text">TEst</span><span class="remove">×</span></li>
        <!-- <li class="input-box"><input #input type="text" (focus)="onFocus($event)" (blur)="onBlur()" /></li> -->
      </ul>
    </div>
  </div>
  <!-- <div class="dropdown-result">
    <div class="wrapper">
      <input class="search-input" type="text" (blur)="onBlur()"/>
      <div class="option-wrapper">
        <ul class="option-group">
          <li class="option-header"><strong >Header</strong></li>
          <li>
            <ul class="option-list">
              <li>List 1</li>
              <li>List 2</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
            </ul>
          </li>
        </ul>

        <ul class="option-list">
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<ng-template #dropdown>
  <div class="dropdown-result">
    <div class="wrapper">
      <input class="search-input" type="text" (blur)="onBlur()"/>
      <div class="option-wrapper">
        <!-- <ul class="option-list">
  
        </ul> -->
        <ul class="option-group">
          <li class="option-header"><strong >Header</strong></li>
          <li>
            <ul class="option-list">
              <li>List 1</li>
              <li>List 2</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
              <li>List 3</li>
            </ul>
          </li>
        </ul>
        
        <ul class="option-list">
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
          <li>List 3</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
