<app-ui-grid [dataSource]="dataSource$ | async" [columnDefs]="columnDefs$ | async"></app-ui-grid>

<ng-template #actionsCell let-row>
  <ng-container *transloco="let trans">
    <ng-container *ngIf="row">
      <a
        nz-button
        nz-tooltip
        nzType="primary"
        nzShape="circle"
        [nzTooltipTitle]="trans('edit')"
        [routerLink]="['/admin/users/' + row.id + '/edit']"
      >
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </a>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #statusCell let-row>
  <ng-container *transloco="let trans">
    <ng-container *ngIf="row">
      <ng-container [ngSwitch]="row.status">
        <nz-tag *ngSwitchCase="'active'" nzColor="success">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'unverified'" nzColor="warning">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'inactive'" nzColor="warning">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
        <nz-tag *ngSwitchCase="'locked'" nzColor="error">{{
          trans('user-status-types.' + row.status) | titlecase
        }}</nz-tag>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
