<app-layout-page-content>
  <app-ui-breadcrumb
    breadcrumb
    *transloco="let trans"
    [title]="trans('user-groups')"
    [breadcrumbs]="[{ name: trans('user-group-list') }]"
  ></app-ui-breadcrumb>

  <ng-container content>
    <nz-card>
      <div class="flex flex-col space-y-4">
        <div class="flex justify-end">
          <a
            *transloco="let trans"
            nz-button
            [nzType]="'primary'"
            [routerLink]="['/admin/user-groups/create']"
          >
            {{ trans('create-user-group') }}
          </a>
        </div>

        <app-table-user-groups></app-table-user-groups>
      </div>
    </nz-card>
  </ng-container>
</app-layout-page-content>
