<app-layout-page-content>
  <ng-container breadcrumb>
    <ng-container *ngIf="customer$ | async as customer">
      <app-ui-breadcrumb
        *transloco="let trans"
        [title]="trans('customers')"
        [breadcrumbs]="[
          {
            name: trans('customer-module.list'),
            icon: 'book',
            url: '/admin/customers'
          },
          { name: customer.name }
        ]"
      ></app-ui-breadcrumb>
    </ng-container>
  </ng-container>

  <ng-container content>
    <nz-card *transloco="let trans">
      <ng-container *ngIf="customer$ | async as customer">
        <app-form-edit-customer [customer]="customer"></app-form-edit-customer>

        <nz-tabset>
          <nz-tab [nzTitle]="packageTitle">
            <ng-template #packageTitle>
              <div class="flex items-center px-2">
                <i nz-icon nzType="inbox" nzTheme="outline"></i>
                <span class="hidden ml-2 sm:block">{{ trans('packages') }}</span>
              </div>
            </ng-template>

            <app-tab-customer-packages [customer]="customer"></app-tab-customer-packages>
          </nz-tab>

          <nz-tab [nzTitle]="transactionTitle">
            <ng-template #transactionTitle>
              <div class="flex items-center px-2">
                <i nz-icon nzType="dollar" nzTheme="outline"></i>
                <span class="hidden ml-2 sm:block">{{ trans('transactions') }}</span>
              </div>
            </ng-template>

            <ng-template nz-tab>
              <app-tab-customer-transactions [customer]="customer"></app-tab-customer-transactions>
            </ng-template>
          </nz-tab>

          <nz-tab [nzTitle]="appointmentTitle">
            <ng-template #appointmentTitle>
              <div class="flex items-center px-2">
                <i nz-icon nzType="calendar" nzTheme="outline"></i>
                <span class="hidden ml-2 sm:block">{{ trans('appointments') }}</span>
              </div>
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-card>
  </ng-container>
</app-layout-page-content>
