<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>
  <div class="content-body">
    <shared-authorized-content [permissions]="['create.products']">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <shared-alert></shared-alert>
            <form #form="ngForm" autocomplete="off" 
              (submit)="onSubmit()">
              <fieldset [disabled]="isLoading">
                <div class="row">
                  <!-- name -->
                  <div class="col-md-6 form-group mb-50" [class.error]="(submitted || name.dirty) && name.errors">
                    <label class="text-bold-600" for="name">Name</label>
                    <input type="text" class="form-control" 
                      #name="ngModel"
                      [(ngModel)]="productVm.name"
                      id="name" name="name" placeholder="Name"
                      required>
                    <div *ngIf="submitted || name.dirty" class="help-block" >
                      <ul role="alert">
                        <li *ngIf="name.errors?.required" class="text-danger" role="alert">Name is required.</li>
                      </ul>
                    </div>
                  </div>
  
                  <!-- status -->
                  <div class="col-md-6 form-group mb-50" [class.error]="(submitted || status.dirty) && status.errors">
                    <label class="text-bold-600" for="status">Status</label>
                    <select class="form-control"
                      #status="ngModel"
                      [(ngModel)]="productVm.status"
                      id="status" name="status"
                      required>
                      <option value="active" selected>Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                    <div *ngIf="submitted || status.dirty" class="help-block">
                      <ul role="alert">
                        <li *ngIf="status.errors?.required" class="text-danger" role="alert">Status is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <!-- price -->
                  <div class="col-md-6 form-group mb-50" [class.error]="(submitted || price.dirty) && price.errors">
                    <label class="text-bold-600" for="price">Price</label>
                    <input type="number" class="form-control" 
                      #price="ngModel"
                      [(ngModel)]="productVm.price"
                      id="price" name="price" placeholder="Price"
                      required>
                    <div *ngIf="submitted || price.dirty" class="help-block">
                      <ul role="alert">
                        <li *ngIf="price.errors?.required" class="text-danger" role="alert">Price is required.</li>
                      </ul>
                    </div>
                  </div>
  
                  <!-- seq no -->
                  <div class="col-md-6 form-group mb-50" [class.error]="(submitted || seqNo.dirty) && seqNo.errors">
                    <label class="text-bold-600" for="seqNo">Sequence No</label>
                    <input type="number" class="form-control" 
                      #seqNo="ngModel"
                      [(ngModel)]="productVm.seqNo"
                      id="seqNo" name="seqNo" placeholder="SeqNo"
                      required>
                    <div *ngIf="submitted || seqNo.dirty" class="help-block">
                      <ul role="alert">
                        <li *ngIf="seqNo.errors?.required" class="text-danger" role="alert">SeqNo is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="row mt-50">
                  <!-- delivery days -->
                  <div class="col-md-6 form-group mb-50" [class.error]="(submitted || delivery_days.dirty) && delivery_days.errors">
                    <label class="text-bold-600" for="delivery_days">Delivery Days</label>
                    <input type="number" class="form-control" 
                      #delivery_days="ngModel"
                      [(ngModel)]="productVm.delivery_days"
                      id="delivery_days" name="delivery_days" placeholder="Delivery Days"
                      required isInteger>
                    <div *ngIf="submitted || delivery_days.dirty" class="help-block">
                      <ul role="alert">
                        <li *ngIf="delivery_days.errors?.required" class="text-danger" role="alert">Delivery Days is required.</li>
                        <li *ngIf="delivery_days.errors?.isInteger" class="text-danger" role="alert">Only whole numbers allowed.</li>
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <!-- highlighted -->
                  <div class="col-md-12 form-group mb-50" [class.error]="(submitted || delivery_days.dirty) && delivery_days.errors">
                    <div class="custom-control custom-switch custom-control-inline mb-1">
                      <input type="checkbox" class="custom-control-input"
                        #highlighted="ngModel"
                        [(ngModel)]="productVm.highlighted"
                        id="highlighted" name="highlighted">
                      <label class="custom-control-label mr-1" for="highlighted"></label>
                      <span>Highlighted</span>
                    </div>
                    <div *ngIf="submitted || highlighted.dirty" class="help-block">
                      <ul role="alert">
                      </ul>
                    </div>
                  </div>
  
                  <!-- custom -->
                  <div class="col-md-12 form-group mb-50" [class.error]="(submitted || custom.dirty) && custom.errors">
                    <div class="custom-control custom-switch custom-control-inline mb-1">
                      <input type="checkbox" class="custom-control-input" 
                        #custom="ngModel"
                        [(ngModel)]="productVm.custom"
                        id="custom" name="custom">
                      <label class="custom-control-label mr-1" for="custom"></label>
                      <span>Custom</span>
                    </div>
                    <div *ngIf="submitted || custom.dirty" class="help-block">
                      <ul role="alert">
                      </ul>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <!-- description -->
                  <div class="col-md-12 form-group mb-50" [class.error]="(submitted || description.dirty) && description.errors">
                    <label class="text-bold-600" for="description">Description</label>
                    <ckeditor [editor]="Editor" 
                      #description="ngModel"
                      [(ngModel)]="productVm.description"
                      id="description" name="description"
                      required></ckeditor>
                    <div *ngIf="submitted || description.dirty" class="help-block">
                      <ul role="alert">
                        <li *ngIf="description.errors?.required" class="text-danger" role="alert">Description is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="form-actions d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary pull-right" [disabled]="isLoading">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Create
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        
      </div>
    </shared-authorized-content>
  </div>
</div>